
$primary-light:#007FFF;
$primary-dark:#610094;

*{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box !important;
}
.navbar{
    padding: 0.5rem 1rem !important;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 3 !important;
}

.h-100vh{
    padding-top: 75px;
    min-height: 100vh !important;
}

.dark-mode{
    .navbar{
        background-color: $primary-dark !important;
    }
}

.light-mode{
    .navbar{
        background-color: $primary-light;
    }
}

.login-animation{
    max-width: 20rem;
    margin: 0 auto;
}

.link{
    text-decoration: none !important;
}

.hr{
    position: absolute !important;
    top: 50% !important;
    width: 95% !important;
    background-color: rgb(215, 213, 213) !important;
    margin-left: 1rem !important;
}

.vr{
    position: absolute !important;
    left: 48%;
    height: 95% !important;
    margin-top: 0.5rem !important;
    background-color: rgb(215, 213, 213) !important;
}